.wrapper{
    width:1200px;
    margin:0 auto;
}
.header{
    height:70px;
}

.normal{
    padding: 10px;
    font-weight: bold;
    border-bottom: double 5px #4b8fe7;
    text-align: center;
}

.side{
    float:left;
    width:300px;
    height:500px;
    background: #FFFF00
}
.content{
    float:right;
    width:900px;
    height:500px;
}
.content-top-right-top{
    height:250px;
    background: #32CD32
}
.content-top-right-bottom{
    height:250px;
    background: #7B68EE
}
.footer{
    margin: 0 auto;
    height:130px;
    width:1200px;
    background: #D3D3D3
}

.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
